*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(158, 158, 158);
    height: 100vh;
    background: url('../../img_carte/plateau_defenseur.png') center center / cover no-repeat fixed;
    font: 1rem Lato, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: block;
}

.container {
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
}

.readers {
    display: flex;
    justify-content: center;
    gap: 147px;
}

.reader {
    width: 270px;
    height: 380px;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    border-image: initial;

    font-size: 24px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.line {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
    mix-blend-mode: lighten;
    opacity: 0.9;
}

.hearts {
    display: flex;
    justify-content: center;
    gap: 5px;
    position: absolute;
    bottom: 50px; /* Positionner les cœurs en haut */
    left: 50px; /* Positionner les cœurs en haut */
}

.heart {
    width: 70px; /* Taille des cœurs */
    height: 70px;
}

.stacked-images {
    position: absolute;
    top: 50px;
    right: 50px; /* Positionner les images en haut à droite */
}

.stacked-image {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
}

div#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0;
}
