*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: rgb(158, 158, 158);
    height: 100vh;
    background: url('../src/img_carte/fond-accueil.png') center center / cover no-repeat fixed;
    font: 1rem Lato, Arial, sans-serif;
    margin: 0;

    display: flex; /* Active Flexbox */
    flex-direction: row; /* Aligne les boutons côte à côte */
    justify-content: center; /* Centre horizontalement */
    align-items: flex-end; /* Aligne les éléments vers le bas */
    padding-bottom: 200px; /* Ajuste la distance depuis le bas */
    gap: 800px; /* Séparation des boutons */
}

button {
    margin: 0; /* Retire les marges auto pour éviter de désaligner les boutons */
    justify-content: center;
    width: 270px;
    height: 70px;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    align-items: center;
    border-radius: 100px;

    transition: background-color 0.5s ease, border-color 0.5s ease;
}

button.attaque {
    border: 3px solid red; /* Bordure rouge */
    background-color: red;
    box-shadow: 0 0 50px rgba(255, 0, 0, 100);
}

button.defense {
    border: 3px solid blue; /* Bordure bleue */
    background-color: blue;
    box-shadow: 0 0 50px rgba(0, 0, 255, 100);
}

button:hover {
    opacity: 0.8; /* Effet de survol pour les boutons */
}
