body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.readers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reader {
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.card-details {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 80%;
    text-align: center;
}

.card-details img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.reader img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.reader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
