*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(158, 158, 158);
    height: 100vh;
    background: url('../../img/plateau_attaquant.webp') center center / cover no-repeat fixed;
    font: 1rem Lato, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: block;
}

.container {
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
}

.readers {
    display: flex;
    justify-content: center;
    gap: 147px;
}

.reader {
    width: 270px;
    height: 380px;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    border-image: initial;

    font-size: 24px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.line {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
    mix-blend-mode: lighten;
    opacity: 0.9;
}

.coeurs-attaque {
    display: flex;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: 50px; /* Positionner les cœurs en haut */
    right: 50px; /* Positionner les cœurs en haut */
}

.coeur-attaque {
    width: 70px; /* Taille des cœurs */
    height: 70px;
}

.compteurs-attaque {
    position: absolute;
    bottom: 50px;
    left: 50px; /* Positionner les images en haut à droite */
}

.compteur-attaque {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
}

div#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0;
}

div#reader_attaque4.reader {
    border-color: red;
}

/**Cadenas*/
.lock {
    position: relative;
    width: 80px;
    height: 100px;
    margin: 0 auto;
}

.serrure {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 60px;
    border: 10px solid azure;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    animation: openShackle 2s ease-in-out forwards;
}

.base {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 60px;
    background-color: red;
    border-radius: 10px;
}

/** Animation pour l'ouverture du cadenas */
@keyframes openShackle {
    0% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(-50%) rotate(45deg) translateY(-20px);
    }
    100% {
        transform: translateX(-50%) rotate(45deg) translateY(-20px);
    }
}