*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/cote_defenseur.png") no-repeat center center fixed;
    background-size: cover;
    font: 1rem "Lato", Arial, sans-serif;
    color: #9E9E9E;
    margin: 0;
    padding: 0;
    height: 100vh; /* S'assure que le corps prend toute la hauteur de la fenêtre */
}

.line {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 105%; /* S'assure que l'image ne dépasse pas la largeur de l'écran */
    height: auto; /* Maintient les proportions de l'image */
    mix-blend-mode: lighten;
    opacity: 0.9;
}

.case_carte, .case_carte_stockage {
    width: 225px;   /* largeur du rectangle */
    height: 325px;  /* hauteur du rectangle */
    border: 4px solid white;  /* bordure */
}

.cases_carte {
    display: flex;
    gap: 147px;
    justify-content: center; /* Centre les rectangles horizontalement */
}

.case_carte_stockage {
    border-color: red;
    text-align: center;
    align-content: center;
}

.case_carte_stockage p {
    margin-top: 174px;
    margin-right: 80px;
    font-size: 80px;
    rotate: 300deg;
    color: red;
}

.container {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espace  */
}

.compteur {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 300px;
    height: 300px;

    /* Ajoutez d'autres styles si nécessaire, comme une bordure ou une ombre */
}

/* Styles pour les cœurs */
.hearts {
    position: fixed;
    bottom: 50px;
    left: 50px;
    display: flex;
    gap: 5px; /* Espace entre les cœurs */
}

.heart {
    width: 70px; /* Ajustez la taille du cœur selon vos besoins */
    height: 70px;
    background: url('../img/coeur2.webp') no-repeat center center;
    background-size: contain; /* Ajustez la taille de l'image de fond pour contenir l'élément */
}

/**Cadenas*/
.lock {
    position: relative;
    width: 80px;
    height: 100px;
    margin: 0 auto;
}

.serrure {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 60px;
    border: 10px solid azure;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    animation: openShackle 4s ease-in-out infinite 2s; /* Répétition infinie */
}

.base {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 60px;
    background-color: red;
    border-radius: 10px;
}

@keyframes openShackle {
    0% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(-50%) rotate(45deg) translateY(-20px);
    }
    100% {
        transform: translateX(-50%);
    }
}