*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url("plateau_joueur_defenseur/img/cote_attaquant.jpeg") no-repeat center center fixed;
    background-size: cover;
    font: 1rem "Lato", Arial, sans-serif;
    color: #9E9E9E;
    margin: 0;
    padding: 0;
    height: 100vh; /* S'assure que le corps prend toute la hauteur de la fenêtre */
}

.line {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 110%; /* S'assure que l'image ne dépasse pas la largeur de l'écran */
    height: auto; /* Maintient les proportions de l'image */
    mix-blend-mode: lighten;
    opacity: 0.9;
    rotate: 180deg
}

.case_carte {
    width: 225px;   /* largeur du rectangle */
    height: 325px;  /* hauteur du rectangle */
    border: 4px solid white;  /* bordure */
}

.cases_carte {
    display: flex;
    gap: 147px;
    justify-content: center; /* Centre les rectangles horizontalement */
}

.container {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espace  */
}

.compteur {
    position: fixed;
    bottom: 0;
    margin-bottom: 50px;
    margin-left: 50px;
    left: 0;
    width: 300px;
    height: 300px;
    /* Ajoutez d'autres styles si nécessaire, comme une bordure ou une ombre */
}

/* Styles pour les cœurs */
.hearts {
    position: fixed;
    top: 17px;
    right: 17px;
    display: flex;
    gap: 5px; /* Espace entre les cœurs */
}

.heart {
    width: 70px; /* Ajustez la taille du cœur selon vos besoins */
    height: 70px;
    background: url('img/coeur2.webp') no-repeat center center;
    background-size: contain; /* Ajustez la taille de l'image de fond pour contenir l'élément */
}
